.tag {
  background-color: var(--primary-double-positive-layer);
  border-radius: var(--x-small);
  height: calc(28 * var(--vw-basis));
  display: flex;
  justify-content: start;
  align-items: center;
  padding-inline: var(--small);
  font-size: var(--text-x-small);
  flex-shrink: 0;
  text-decoration: none;
  overflow: hidden;
  max-width: 100%;
}

.tag > span {
  white-space: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  color: inherit;
}
