.divider {
  background-color: var(--primary-quadruple-positive-layer);
  align-self: stretch;
  min-height: var(--divider-thickness);
  min-width: var(--divider-thickness);
  border-radius: calc(var(--divider-thickness) / 2);
}
