.list {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: var(--small);
  border-radius: var(--x-small);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.list::-webkit-scrollbar {
  display: none;
}
