input[type='search'] {
  border-radius: var(--x-small);
  border: none;
  height: var(--input-height);
  padding-inline: var(--small) var(--input-height);
  background-color: var(--primary-negative-layer);
  font-size: calc(16 * var(--vw-basis));
  width: calc(150 * var(--vw-basis));
  transition: width 0.2s ease;
}

input[type='search']::placeholder {
  color: var(--primary-top);
}

input[type='search']:focus {
  outline: 1px solid var(--primary-top);
  width: calc(300 * var(--vw-basis));
}

input[type='search']::-webkit-search-cancel-button {
  display: none;
}

label:has(> input[type='search']) {
  position: relative;
}

label:has(> input[type='search']) > svg {
  position: absolute;
  width: calc(10 * --vw-basis);
  height: calc(10 * --vw-basis);
  top: calc(var(--input-height) / 2);
  left: calc(var(--input-height) / 2);
  transform: translate(-50%, -50%);
}
