.widget {
  background-color: var(--primary-base);
  background-image: linear-gradient(var(--primary-positive-layer), var(--primary-positive-layer)), linear-gradient(var(--primary-positive-layer), var(--primary-positive-layer));
  border-radius: var(--medium);
  box-shadow: inset 0 calc(-1 * var(--x-small)) var(--x-small) var(--primary-positive-layer);
  display: flex;
  flex-direction: column;
}
