.button > svg {
  width: calc(20 * var(--vw-basis));
  height: calc(20 * var(--vw-basis));
  display: flex;
  align-items: center;
  justify-content: center;
}

.widget-content-navigation > .button > svg {
  width: calc(22 * var(--vw-basis));
  height: calc(22 * var(--vw-basis));
}
