:root {
  direction: rtl;
  --primary-base: rgba(31, 34, 51, 1);
  --primary-positive-layer: rgba(153, 170, 255, 0.1);
  --gap: 1.5rem;
  --accent-green: #79F2AC;
  --accent-blue: #00AAFF;
  --accent-purple: #8080FF;
  --accent-pink: #F249BA;
  --accent-gradient-diagonal: linear-gradient(to bottom left, var(--accent-green), var(--accent-blue), var(--accent-purple), var(--accent-pink));
  --white: white;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  color: var(--white);
  letter-spacing: 0.05em;
}

body {
  background-color: var(--primary-base);
}

#root {
  height: 100vh;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--gap);
}

.widget {
  background-color: var(--primary-base);
  background-image: linear-gradient(var(--primary-positive-layer), var(--primary-positive-layer));
  width: 100%;
  max-width: 40rem;
  height: 100%;
  max-height: 28rem;
  border-radius: var(--gap);
  box-shadow: inset 0 -0.25rem 0.25rem var(--primary-positive-layer);
  position: relative;
}

.glow-container {
  inset: -1px;
  z-index: -1;
  position: absolute;
  opacity: 0;
}

.glow-container > * {
  position: absolute;
  inset: 0;
  background-image: var(--accent-gradient-diagonal);
}

.glow-container > div:nth-of-type(2) {
  filter: blur(0.5rem);
}

.glow-container > div:nth-of-type(3) {
  filter: blur(1.5rem);
  opacity: 0.5;
}

.widget-title {
  background-color: var(--primary-positive-layer);
  width: 100%;
  padding: 1.5rem 2.5rem;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: var(--gap);
  border-radius: var(--gap) var(--gap) 0 0;
}

.widget-title[data-expanded=true] {
  padding-inline: 1.5rem;
}

.widget-title > img {
  position: absolute;
  left: 0.75rem;
  top: -0.75rem;
  bottom: -0.75rem;
  height: calc(100% + 1.5rem);
}

.widget-title > span {
  font-size: 1.6rem;
  font-weight: 900;
}

.button {
  width: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.primary {
  background-color: var(--accent-green);
}

.button.primary * {
  color: rgba(61, 68, 102, 1);
}

.button.secondary {
  background-color: rgba(107, 119, 178, 1);
}

.button.secondary * {
  color: var(--white);
}

.widget-title[data-expanded=true] > .actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
}

.widget-title > .navigation {
  width: 100%;
}

.back-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-inline: 0.75rem;
  font-size: 0.875rem;
  height: 2.25rem;
  border-radius: 0.25rem;
  border: none;
  background-color: var(--primary-positive-layer);
}