:root {
  direction: rtl;

  --vw-basis: calc(1vw / 19.2);

  /* Colors - Primary */
  --primary-base: rgba(31, 34, 51, 1);
  --primary-positive-layer: rgba(153, 170, 255, 0.1);
  --primary-top: rgba(153, 170, 255, 1);
  --primary-negative: rgba(0, 0, 0, 0.15);
  --primary-40: rgba(61, 68, 102, 1);

  /* Colors - Accent */
  --accent-green: #79f2ac;
  --accent-blue: #00aaff;
  --accent-purple: #8080ff;
  --accent-pink: #f249ba;
  --accent-gradient-diagonal: linear-gradient(
    to bottom left,
    var(--accent-green),
    var(--accent-blue),
    var(--accent-purple),
    var(--accent-pink)
  );

  /* Colors - Neutral */
  --neutral-light: white;

  /* Units */
  --x-small: calc(4 * var(--vw-basis));
  --small: calc(8 * var(--vw-basis));
  --medium: calc(24 * var(--vw-basis));
  --input-height: calc(32 * var(--vw-basis));
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  color: var(--neutral-light);
  letter-spacing: 0.05em;
}

body {
  background-color: var(--primary-base);
}

#root {
  height: 100vh;
  height: 100svh;
  padding: calc(var(--medium) * 5) var(--medium) calc(var(--medium) * 2)
    var(--medium);
}

.heading-medium {
  font-size: calc(32 * var(--vw-basis));
  font-weight: 900;
}

.glow-container {
  inset: -1px;
  z-index: -1;
  position: absolute;
  opacity: 0;
}

.glow-container > * {
  position: absolute;
  inset: 0;
  background-image: var(--accent-gradient-diagonal);
}

.glow-container > div:nth-of-type(2) {
  filter: blur(0.5rem);
}

.glow-container > div:nth-of-type(3) {
  filter: blur(1.5rem);
  opacity: 0.5;
}

.widget-title[data-expanded='true'] {
  padding-inline: var(--large);
}

.widget-title > img {
  position: absolute;
  left: 0.75rem;
  top: -0.75rem;
  bottom: -0.75rem;
  height: calc(100% + 1.5rem);
}

.widget-title[data-expanded='true'] > .actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: var(--medium);
}

.widget-title > .navigation {
  width: 100%;
}

.back-button {
  display: flex;
  align-items: center;
  gap: var(--medium);
  padding-inline: 0.75rem;
  font-size: 0.875rem;
  height: 2.25rem;
  border-radius: var(--small);
  border: none;
  background-color: var(--primary-positive-layer);
}

input[type='search'] {
  border-radius: var(--small);
  border: none;
  height: var(--input-height);
  padding-inline: var(--medium) var(--input-height);
  background-color: var(--primary-negative);
  font-size: 1rem;
}

input[type='search']::placeholder {
  color: var(--primary-top);
}

input[type='search']:focus {
  outline: 1px solid var(--primary-top);
}

input[type='search']::-webkit-search-cancel-button {
  display: none;
}

label:has(> input[type='search']) {
  position: relative;
}

label:has(> input[type='search']) > svg {
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  top: calc(var(--input-height) / 2);
  left: calc(var(--input-height) / 2);
  transform: translate(-50%, -50%);
}

.widget-content {
  width: 100%;
  height: 100%;
  padding: var(--large);
  display: flex;
  flex-direction: column;
  gap: var(--medium);
}

.widget-content-controls {
  display: flex;
  gap: var(--medium);
}
