:root {
  direction: rtl;

  --vw-basis: calc(1vw / 19.2);

  /* Colors - Primary */
  --primary-base: rgba(31, 34, 51, 1);
  --primary-positive-layer: rgba(153, 170, 255, 0.1);
  --primary-double-positive-layer: rgba(153, 170, 255, 0.2);
  --primary-triple-positive-layer: rgba(153, 170, 255, 0.3);
  --primary-top: rgba(153, 170, 255, 1);
  --primary-negative-layer: rgba(0, 0, 0, 0.15);
  --primary-40: rgba(61, 68, 102, 1);

  /* Colors - Accent */
  --accent-green: rgba(121, 242, 172, 1);
  --accent-green-20: rgba(121, 242, 172, 0.2);
  --accent-blue: rgba(0, 170, 255, 1);
  --accent-blue-20: rgba(0, 170, 255, 0.2);
  --accent-purple: rgba(128, 128, 255, 1);
  --accent-purple-20: rgba(128, 128, 255, 0.2);
  --accent-pink: rgba(242, 73, 186, 1);
  --accent-pink-20: rgba(242, 73, 186, 0.2);
  --accent-gradient-diagonal: linear-gradient(to bottom left, var(--accent-green), var(--accent-blue), var(--accent-purple), var(--accent-pink));

  /* Colors - Neutral */
  --neutral-light: white;

  /* Colors - Semantic */
  --semantic-danger: rgba(191, 67, 67, 1);
  --semantic-success: #79f2ac;

  /* Units */
  --x-small: calc(4 * var(--vw-basis));
  --small: calc(8 * var(--vw-basis));
  --medium: calc(24 * var(--vw-basis));
  --input-height: calc(36 * var(--vw-basis));
  --row-height: calc(48 * var(--vw-basis));
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  color: var(--neutral-light);
  letter-spacing: 0.05em;
}

body {
  background-color: var(--primary-base);
}

#root {
  height: 100vh;
  height: 100svh;
  padding: calc(var(--medium) * 5) var(--medium) calc(var(--medium) * 2) var(--medium);
}

.heading-medium {
  font-size: calc(32 * var(--vw-basis));
  font-weight: 900;
}

.general {
  --type-color: var(--accent-green);
  --type-color-20: var(--accent-green-20);
}

.meeting {
  --type-color: var(--accent-blue);
  --type-color-20: var(--accent-blue-20);
}

.call {
  --type-color: var(--accent-purple);
  --type-color-20: var(--accent-purple-20);
}

.financial {
  --type-color: var(--accent-pink);
  --type-color-20: var(--accent-pink-20);
}
